body {
	background-color: #eee8d5;
	color: #073642;
}

#diff tr:selected {
	opacity: .7;
}

#diff td {
	padding: 0px;
	border: none;
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }

code {
	tab-size: 4;
	background-color: inherit;
}

.insertion {
	color: #586e75;
	background-color: #ccebc5;
}

.deletion {
	color: #586e75;
	background-color: #fbb3ad;
}

.modification {
	color: #586e75;
	background-color: #eee8d5;
}

.code-pre {
	color: inherit;
	font-size: 11px;
	background-color: inherit;
	display: inline;
	padding: 0px;
	border: 0px;
}

.unchanged {
	color: #586e75;
	background-color: #fdf6e3;
}

.index {
	color: #586e75;
	font-weight: bold;
	background-color: #fdf6e3;
}

.line {
	width: 47%;
}

.lineno {
	color: #586e75;
	background-color: #eee8d5;
	width: 3%;
}

.spanner {
	background-color: #eee8d5;
	font-weight: bold;
}

.fileheader {
	background-color: #93a1a1;
	font-weight: bold;
}

.headertxt {
	color: #002b36;
}

.jumbotron {
	background-color: #eee8d5;
}
