<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ range $k, $v := .Stylesheets }}
		<link rel="stylesheet" href="/assets/{{ $k }}">
		{{ end }}

		{{ range $k, $v := .Scripts }}
		<script async="async" src="/assets/{{ $k }}"></script>
		{{ end }}
	</head>
	<body class="bg-base01">
		<nav class="clearfix white bg-base02">
		<div class="sm-col">
			<a class="btn aqua mt1 mb1 ml1" href="/">Erickson Code Review</a>
			<a class="btn aqua mt1 mb1" href="">Login</a>
		</div>
		</nav>
		<div class="container base02 bg-base3 border rounded mt4 p2">
			<h2 class="h2">Log In</h2>
			<form method="post" action="/login">
				<div class="p2">
					{{ .CSRFField }}
					<input class="m1 block col-12 field" type="email" name="username" placeholder="Username">
					<input class="m1 block col-12 field" type="password" name="password" placeholder="Password">
					<button type="submit" class="m1 btn btn-outline">Submit</button> 
				</div>
			</form>
		</div>
	</body>
</html>
