{{ $username := index .Session.Values "username" }}
{{ $revision := index .R.Revisions .CurrentRevision }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ range $k, $v := .Stylesheets }}
		<link rel="stylesheet" href="/assets/{{ $k }}">
		{{ end }}
		{{ range $k, $v := .Scripts }}
		<script async="async" src="/assets/{{ $k }}"></script>
		{{ end }}
	</head>
	<body class="bg-base02" onkeypress="keyEvent(event)">
		<!-- the html in <aside> will be inserted into the diff table via jquery -->
		<aside class="hidden">
			<div class="bg-base02 aqua p2 annotate-form">
				<pre class="line-text code-pre font-14"></pre>
				<br>
				<br>
				<form method="post" action="/reviews/{{.ID}}/annotations">
					{{ .CSRFField }}
					<label for="comment">Leave a comment</label>
					<textarea name="comment" id="comment" class="monospace aqua bg-base03 block m1 pr3 field col-12"></textarea>
					<input id="file" class="hidden" name="file"></input>
					<input id="hunk" class="hidden" name="hunk"></input>
					<input id="line" class="hidden" name="line"></input>
					<button class="btn btn-outline">Post Comment</button>
					<div class="btn btn-outline" onClick="cancelAnnotate();">Cancel</div>
				</form>
			</div>
		</aside>
		<nav class="h4 flex bg-base02 navbar">
			<div class="flex-auto">
				<div class="menu-control">
					<input class="hidden" id="show-menu" value="0" name="" type="checkbox"></input>
					<label for="show-menu" class="h1 ml2 aqua border-round">&#9881;<span class="font-6"> &#9660;</span></label>
					<a class="btn aqua mb1 mt1 ml1" href="/">Erickson Code Review</a>
					<a class="btn aqua mb1 mt1 regular" href="/reviews/{{.ID}}">Review {{.ID}} ({{.Status}})</a>
				</div>
			</div>
			<div class="sm-col-right">
				{{ if .UnpublishedAnnotations }}
				<span>
					<form style="float: left;" method="post" action="/reviews/{{.ID}}/rev/{{.CurrentRevision}}/annotations/publish">
						<button name="status" value="Submitted" class="btn btn-outline mt1 mb0 mr1 btn-submit regular">Post Comments ({{.UnpublishedAnnotations}})</button>
						{{ .CSRFField }}
					</form>
				</span>
				{{ end }}
				{{ if .ReviewOwnedByUser }}
				{{ if .StatusOpen }}
				<span>
					<form style="float: left;" method="post" action="/reviews/{{.ID}}/status">
						<button name="status" value="Submitted" class="btn btn-outline mt1 mb0 mr1 btn-submit regular">Submit Review</button>
						{{ .CSRFField }}
					</form>
					<form style="float: right;" method="post" action="/reviews/{{.ID}}/status">
						<button name="status" value="Discarded" class="btn btn-outline mt1 mb0 mr1 btn-discard regular">Discard Review</button>
						{{ .CSRFField }}
					</form>
				</span>
				{{ else }}
				<form method="post" action="/reviews/{{.ID}}/status">
					<button name="status" value="Open" class="btn btn-outline mt1 mb0 mr1 btn-reopen regular">Re-open Review</button>
					{{ .CSRFField }}
				</form>
				{{ end }}
				{{ end }}
			</div>
		</nav>
		<div id="menu" class="navbar-menu hidden px4 bg-base02">
			<div class="sm-col">
				<p class="aqua mt2 ml2">{{$username}}</p>
				<form action="/logout" method="post">
					{{ .CSRFField }}
					<button class="aqua ml2 mb2 btn btn-outline">Log Out</button>
				</form>
			</div>
		</div>
		<div class="mt4 h6 col-6 bold rounded m1 p2 bg-base2">
			<h3 class="h3 base01 mt0">Commit Log</h3>
			<pre class="border p1 bg-base3 border-thin regular h5">{{ .R.CommitMsg }}</pre>
		</div>
		<div class="code-tables">
			{{ range $r, $rev := .R.Revisions }}
			<a href="#/rev/{{ $r }}" class="btn regular mb1 base3">Revision {{ $r }}</a>
			{{ end }}
			{{ $revision := $revision }}
			{{ range $i, $f := $revision.Files }}
			<div class="flex rounded-top mb1 mt1" id="diff">
				<div class="flex rounded-top">
					<span class="flex-auto rounded-top h5 bg-red"><pre class="bold inline"><code> --- {{ $f.OldName }}</code></pre></span>
					<span class="flex-auto rounded-top h5 bg-green"><pre class="bold inline"><code> +++ {{ $f.NewName }}</code></pre></span>
				</div>
				{{ range $j, $hunk := $f.Hunks }}
				{{ range $k, $lhs := .LHS }}
				<div class="flex diffline" id="diff-{{$i}}-{{$j}}-{{$k}}" >
					<span class="flex-auto bold lineno lineno-lhs {{ (index $hunk.LHS $k).Type }}">
						<pre class="code-pre h6"><code> {{ (index $hunk.LHS $k).Line }}</code></pre>
					</span>
					<span class="flex-auto line {{ (index $hunk.LHS $k).Type }}">
						<pre class="code-pre h6"><code> {{ (index $hunk.LHS $k).Text }}</code></pre>
					</span>
					<span class="flex-auto bold lineno lineno-rhs {{ (index $hunk.RHS $k).Type }}">
						<pre class="code-pre h6"><code> {{ (index $hunk.RHS $k).Line }}</code></pre>
					</span>
					<span class="flex-auto line {{ (index $hunk.RHS $k).Type }}">
						<pre class="code-pre h6"><code> {{(index $hunk.RHS $k).Text }}</code></pre>
					</span>
				</div>
				{{ if ($revision.GetAnnotations $i $j $k $username) }}
				<div class="flex annotation mb0">
					<span class="flex-auto">
						<div class="bg-base2 px1 pt1 border">
							<p class="h4 underline regular mt0 mb0">{{ $f.NewName }}:{{ (index $hunk.RHS $k).Line }}</p>
							{{ range $a, $annotation := ($revision.GetAnnotations $i $j $k $username) }}
							<p class="h5 mb0 ml1">{{ $annotation.User }} says:</p>
							<div class="bg-base3 px2 py1 mt0 ml2 mr2 mb2 rounded">
								<pre class="code-pre h5"><code>{{ $annotation.Comment }}</code></pre>
								<br>
							</div>
							{{ end }}
						</div>
					</span>
				</div>
				{{ end }}
				{{ end }}
				<div>
					<span class="lineno"></span>
					<span class="line unchanged"></span>
					<span class="lineno"></span>
					<span class="line unchanged"></span>
				</div>
				{{ end }}
			</div>
			{{ end }}
		</div>
	</body>
</html>
