<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ range $k, $v := .Stylesheets }}
		<link rel="stylesheet" href="/assets/{{ $k }}">
		{{ end }}

		{{ range $k, $v := .Scripts }}
		<script src="/assets/{{ $k }}"></script>
		{{ end }}
	</head>
	<body class="bg-base01">
		<nav class="clearfix white bg-base02">
			<div class="sm-col">
				<a class="btn aqua mt1 mb1 ml1" href="/">Erickson Code Review</a>
				<a class="btn aqua mt1 mb1" href="">Signup</a>
			</div>
		</nav>
		<div class="container bg-base3 base02 border rounded m4 p2">
			<h2 class="ml2 h2">Create an account</h2>
			<form method="post" action="/signup">
				<div class="p2">
					{{ .csrfField }}
					<label for="username">E-mail Address</label>
					<input name="username" id="username" type="email" placeholder="user@example.com" class="block field m1 col-3" required>
					<label for="password">Password</label>
					<input name="password" id="password" minlength="8" placeholder="At least 8 characters" type="password" class="col-3 block field m1" required>
					<button id="submit" type="submit" class="btn btn-outline m1">Create</button>
				</div>
				<p>Already have an account? <a href="/login">Log In</a></p>
			</form>
		</div>
	</body>
</html>
