pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Solarized Colours */
.bg-base03{
    background-color: #002b36;
}
.bg-base02{
    background-color: #073642;
}
.bg-base01{
    background-color: #586e75;
}
.bg-base00{
    background-color: #657b83;
}
.bg-base0{
     background-color: #839496;
}
.bg-base1{
     background-color: #93a1a1;
}
.bg-base2{
     background-color: #eee8d5;
}
.bg-base3{
     background-color: #fdf6e3;
}
.base03{
    color: #002b36;
}
.base02{
    color: #073642;
}
.base01{
    color: #586e75;
}
.base00{
    color: #657b83;
}
.base0{
     color: #839496;
}
.base1{
     color: #93a1a1;
}
.base2{
     color: #eee8d5;
}
.base3{
     color: #fdf6e3;
}

/* My own colours */
.bg-ivory {
	background-color: ivory;
}

.green {
	color: #ccebc5;
}

.bg-green {
	background-color: #ccebc5;
}

.red {
	color: #fbb3ad;
}

.darkred {
	color: #dc322f;
}

.bg-red {
	background-color: #fbb3ad;
}

.hidden {
	display: none;
}

#diff tr {
	line-height: 18px;
	padding: 0px;
	border: none;
}

#diff td {
	padding: 0px;
	border: none;
}

#diff {
	width: 100%;
	display: table;
}

code {
	tab-size: 4;
	background-color: inherit;
}

.insertion {
	color: #002b36;
	background-color: #ccebc5;
}

.deletion {
	color: #002b36;
	background-color: #fbb3ad;
}

.modification {
	color: #002b36;
	background-color: #eee8d5;
}

.code-pre {
	color: inherit;
	background-color: inherit;
	display: inline;
	padding: 0px;
	border: 0px;
}

.unchanged {
	color: #586e75;
	background-color: #fdf6e3;
}

.bold {
	font-weight: bold;
}

.font-14 {
	font-size: 14px;
}

.font-6 {
	font-size: 6px;
}

.index {
	color: #586e75;
	font-style: italic;
	font-weight: bold;
	background-color: #fdf6e3;
}

.line {
	width: 47%;
}

.lineno {
	color: #586e75;
	background-color: #eee8d5;
	width: 3%;
	font-style: italic;
}

.lineno:hover {
    background-color: #fdf6e3;
    cursor: pointer;
}

.spanner {
	background-color: #eee8d5;
	font-weight: bold;
}

.headertxt {
	color: #002b36;
}

.btn-submit {
	background-color: #002b36;
	color: #ccebc5;
	border-color: #ccebc5;
	border-width: thin;
}

.btn-discard {
	background-color: #002b36;
	color: #fbb3ad;
	border-color: #fbb3ad;
	border-width: thin;
}

.btn-reopen {
	border-color: #268bd2;
	border-width: thin;
	background-color: #002b36;
	color: #268bd2;
}

.code-tables {
	padding: 10px;
}

.monospace {
	font-family: monospace;
}

.diffupload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.diffupload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.menu-control input[type="checkbox"]:checked + label span {
	color: #ccebc5;
}

.menu-control label:hover {
	cursor: pointer;
}

.navbar {
	-webkit-box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.30);
	-moz-box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.30);
	box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.30);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    min-width: 400px;
}

.navbar-menu {
    z-index: 999;
	box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.30);
	position: fixed;
	top: 50px;
	left: 0;
}

.annotation {
	box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.30);
	z-index: 999;
	position: relative;
}
