pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Solarized Colours */
.bg-base03{
    background-color: #002b36;
}
.bg-base02{
    background-color: #073642;
}
.bg-base01{
    background-color: #586e75;
}
.bg-base00{
    background-color: #657b83;
}
.bg-base0{
     background-color: #839496;
}
.bg-base1{
     background-color: #93a1a1;
}
.bg-base2{
     background-color: #eee8d5;
}
.bg-base3{
     background-color: #fdf6e3;
}
.base03{
    color: #002b36;
}
.base02{
    color: #073642;
}
.base01{
    color: #586e75;
}
.base00{
    color: #657b83;
}
.base0{
     color: #839496;
}
.base1{
     color: #93a1a1;
}
.base2{
     color: #eee8d5;
}
.base3{
     color: #fdf6e3;
}

.hidden {
	display: none;
}

#diff tr {
	line-height: 13px;
	padding: 0px;
	border: none;
}

#diff td {
	padding: 0px;
	border: none;
}

#diff {
	width: 100%;
	display: table;
}

code {
	tab-size: 4;
	background-color: inherit;
}

.insertion {
	color: #002b36;
	background-color: #ccebc5;
}

.deletion {
	color: #002b36;
	background-color: #fbb3ad;
}

.modification {
	color: #002b36;
	background-color: #eee8d5;
}

.code-pre {
	color: inherit;
	font-size: 11px;
	background-color: inherit;
	display: inline;
	padding: 0px;
	border: 0px;
}

.unchanged {
	color: #586e75;
	background-color: #fdf6e3;
}

.bold {
	font-weight: bold;
}

.index {
	color: #586e75;
	font-style: italic;
	font-weight: bold;
	background-color: #fdf6e3;
}

.line {
	width: 47%;
}

.lineno {
	color: #586e75;
	background-color: #eee8d5;
	width: 3%;
	font-style: italic;
}

.spanner {
	background-color: #eee8d5;
	font-weight: bold;
}

.fileheader {
	background-color: #93a1a1;
	font-weight: bold;
}

.headertxt {
	color: #002b36;
}

.btn-submit {
	background-color: #002b36;
	color: #ccebc5;
	border-color: #ccebc5;
	border-width: thin;
}

.btn-discard {
	background-color: #002b36;
	color: #fbb3ad;
	border-color: #fbb3ad;
	border-width: thin;
}

.btn-reopen {
	border-color: #268bd2;
	border-width: thin;
	background-color: #002b36;
	color: #268bd2;
}

.code-tables {
	padding: 10px;
}
