<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Erickson Code Review</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
          {{ if .StatusOpen }}
            <button onClick="submitReview()" class="btn btn-success">Submit Review</button>
            <button onClick="discardReview()" class="btn btn-danger">Discard Review</button>
          {{ else }}
            <button onClick="reopenReview()" class="btn btn-primary">Re-open Review</button>
          {{ end }}
        </div>
      </div>
    </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h2>Review {{.ID}} - {{.Status}}</h2>
        <h3>{{.CommitMsg}}</h3>
        <div class="container container-fluid">
      </div>
    </div>
    <div class="container">
      {{ range $r, $revision := .R.Revisions }}
      <h3>Revision {{ $r }}</h3>
      {{ range $i, $f := $revision.Files }}
      <table style="width: 100%; display: table; border-width: thin; border-style: solid;" class="table table-condensed" id="diff">
        <td class="spanner"></td>
        <td class="fileheader"><pre class="blue code-pre"><code>--- {{ $f.OldName }}</code></pre></td>
        <td class="fileheader"><pre class="blue code-pre"><code>+++ {{ $f.NewName }}</code></pre></td>
        <td class="spanner"></td>
        {{ range $j, $hunk := $f.Hunks }}
        {{ range $k, $lhs := $hunk.LHS }}
        <tr style="padding: 0px; border: none">
          <td class="lineno {{ (index $hunk.LHS $k).Type }}">
            <pre class="code-pre"><code> {{ (index $hunk.LHS $k).Line }}</code></pre>
          </td>
          <td class="line {{ (index $hunk.LHS $k).Type }}">
            <pre class="code-pre"><code> {{ (index $hunk.LHS $k).Text }}</code></pre>
          </td>
          <td class="line {{ (index $hunk.RHS $k).Type }}">
            <pre class="code-pre"><code> {{(index $hunk.RHS $k).Text }}</code></pre>
          </td>
          <td class="lineno {{ (index $hunk.RHS $k).Type }}">
            <pre class="code-pre"><code> {{ (index $hunk.RHS $k).Line }}</code></pre>
          </td>
        </tr>
        {{ end }}
        <tr>
          <td class="spanner"><pre class="code-pre"><code>  &#10714;</code></pre></td>
          <td class="line unchanged"></td>
          <td class="line unchanged"></td>
          <td class="spanner"><pre class="code-pre"><code>  &#10715;</code></pre></td>
        </tr>
        {{ end }}
      </table>
      {{ end }}
      {{ end }}
    </div>
  </div>
</body>
</html>
